body {
    font-family: 'Poppins', sans-serif;
    background-color: #232328;
}

.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    ;
}
div[data-tc-text="true"] {
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 460px) {
    div[data-tc-text="true"] {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
}
@media (max-width: 450px) {
    div[data-tc-text="true"] {
        font-size: 13px;
    }
}
@media (max-width: 440px) {
    div[data-tc-text="true"] {
        font-size: 11px;
    }
}
