.header {
    background-color: #2F2F33;
}

.header__row {
    padding: 30px 0 30px;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}